extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Nathan Stahlman

        //- Feel free personalize the title below
        p.lead.text-light
          | Aspiring Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | When I was 17 years old, I decided that I wanted to make video games. I downloaded Unity3D.
            | I started learning C# on YouTube. Then, of course, I started making games. I figured out
            | something profound in just a few short months... I sucked at it. However, I learned something
            | else that was much more important... I loved the programming far more than I did trying to
            | use the Unity3D editor without any help or training. I started programming other things besides
            | games. I made calculators, console applications, and I even made a few games that had beautiful
            | code and horrendous gameplay. Unfortunately, I struggled with imposter
            | syndrome - feeling that I would probably never be able to make a living out of programming.
            | So... being addicted to food and housing like all other human beings, I figured that I should
            | prepare for a "real" job, not one that was too good to be true. I went to college for Business
            | Administration, earned bachelor's with a GPA of 3.977, and started working for the State of
            | Missouri. I love business, and I love my job with the State; however, I have never been as
            | passionate about any skill as much as I am about writing code. I am enrolled in Treehouse's
            | Full Stack techdegree, and I am loving it! I believe that I am learning the skills I need in
            | order to do what I want to do, be a developer, and I intend to do just that.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li Node.js
          li Express
          li Administration
          li Marketing
          li Sales
          li Making lists
          li Dry humor
        h6 Contact Info

        //- Add your own contact info
        ul
          li (573) 872-6403
          li nathanstahlman99@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(target='_blank' href='https://www.linkedin.com/in/nstahlman/') LinkedIn
        a.button.expanded(target='_blank' href='https://github.com/Stahlman99') GitHub
        a.button.expanded(target='_blank' href='https://twitter.com/StahlmanNathan') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  