extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Nathan Stahlman

        p.lead.text-light
          | Aspiring Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | When I was 17 years old, I decided that I wanted to make video games. I downloaded Unity3D.
            | I started learning C# on YouTube. Then, of course, I started making games. I figured out
            | something profound in just a few short months... I sucked at it. However, I learned something
            | else that was much more important... I loved programming, and I knew that I wanted to learn more.
            | I knew no programmers, so I was at the mercy of the internet. I started programming other things besides
            | games. I made calculators, console applications, and I even made a few games that had beautiful
            | code and horrendous gameplay. Unfortunately, I struggled with imposter
            | syndrome - feeling that I would probably never be able to make a living out of programming.
            | So... being addicted to food and housing like all other human beings, I figured that I should
            | prepare for a "real" job, not one that was too good to be true. I went to college for Business
            | Administration, earned a bachelor's with a GPA of 3.977, and started working for the State of
            | Missouri. I love business, and I love my job with the State; however, I have never been as
            | passionate about any skill as much as I am about writing code. I recently completed Treehouse's
            | Full Stack techdegree program, after deciding I wanted to pursue a career in programming. I
            | learned so much! I believe that I now have the skills necessary to do what I want to do,
            | be a developer, and I intend to do just that. I am currently looking for a remote Full Stack
            | development job, and in the meantime, I am working on some really cool projects!
          br
          p
            | I live in Missouri, where I have a great family, an awesome church, and the best girlfriend in the world.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li Node.js
          li Express
          li VS Code
          li RESTful APIs
          li React
          li Git
          li Debugging
        h6 Contact Info

        ul
          li (573) 872-6403
          li nathanstahlman99@gmail.com

        a.button.expanded(target='_blank' href='https://www.linkedin.com/in/nstahlman/') LinkedIn
        a.button.expanded(target='_blank' href='https://github.com/Stahlman99') GitHub
        a.button.expanded(target='_blank' href='https://twitter.com/StahlmanNathan') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  