extends layout.pug

block content
    nav.grid-container.portfolio-breadcrumb
        a(href='/') â† Back
    article.grid-container.portfolio-intro

        h1 Uh oh. It looks like there was an error.

        br
        h1 See details:

        p.lead.text-light
            if err.status !== undefined
                b Error status: 
                | #{err.status}
            else
                b Error status: 
                | undefined
            br
            br
            if err.message !== undefined
                b Error message: 
                | #{err.message}`
                br
                br
            if err.stack !== undefined
                b Stack: 
                | #{err.stack}